#death-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none; /* Aus */
    justify-content: center;
    align-items: center;
    z-index: 2000;
    flex-direction: column;
}

#death-overlay.active {
    display: flex; /* An */
}

.death-title {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

.death-textbox {
    background: white;
    padding: 20px;
    border: 3px solid black;
    width: 70%;
    text-align: center;
}

.next-box {
    margin-top: 30px;
    background: white;
    padding: 10px 25px;
    border: 2px solid black;
}

.next-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}