 .next-box {
  opacity: 1 !important;
}

.next-box .next-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

/* Game-Area abdunkeln */
.game-area.death-mode {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: none ;
}

/* Großer Text in der Mitte */
.death-text {
  font-size: 80px;
  color: red;   /* Rot für Tod */
  font-weight: bold;
  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* <div class="game-area death-mode">
        <div class="death-text">GAME OVER</div>
    </div>
  <div class="textbox" id="textbox">
    <span id="textbox-text">
      Wow, seems like your pet has passed away... 
    </span>
    <div class="next-box">
     <a href="startingpage.html" class="next-link">NEXT</a>
    </div>
  </div>
*/