
.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: white;
    border: 3px solid black; 
    z-index: 20; /* muss größer sein als alles andere */
    display: none; /* Standardmäßig versteckt */
}

.burgir {
    width: 50%;
    height: auto;
    cursor: pointer;
}