.egg {
  width: 20%;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}


#textbox {
  opacity: 0;           /* unsichtbar */
  transition: opacity 0.125s; /* sanft einblenden */
}



 




