.moon {
  width: 20%;
  height: auto;

  position: absolute;
  top: 6%;
  left: 75%;
}

.star1 {
  width: 3.5%;
  height: auto;

  position: absolute;
  top: 8%;
  right: 20%;
}
.star3 {
  width: 3.5%;
  height: auto;

  position: absolute;
  top: 12%;
  right: 8%;
}

.star2 {
  width: 3.5%;
  height: auto;

  position: absolute;
  top: 6%;
  right: 4%;
}

.sun {
  width: 150px;
  height: auto;
  position: absolute;
  top: -65px;
  left: 190px;
}

.sunface {
  width: 25px;
  height: auto;
  position: absolute;
  bottom: 253px;
  left: 247px;
}
