/*Haupt Font*/
@font-face {
font-family: "Bryndan Write";
src: url("BryndanWriteBook-nGPM.ttf") format("truetype");
}

/*Viewport*/
html, body {
  width: 100%;
  height: 100%;
  background: white;
  display: flex; /* wirkt auf direkte(absolute Elemente) Kinder*/
  justify-content: center; /* horizontal zentriert */
  align-items: center; /* vertikal zentriert */
  font-family: "Bryndan Write";
}


/*Hauptbox*/
.game-area {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  background: white;

  /*Bezugspunkt für absolute Elemente innerhalb der Hauptbox*/
  position: relative;
}

/*Textbox unten*/
.textbox {
  width: 520px;
  padding: 20px;

  background: black;
  color: white;
  border: 2px solid black;

  font-size: 16px;
  line-height: 1.5;

  box-sizing: border-box;
  box-shadow: inset 0 0 0 3px white; /*weißer Innenrahmen*/

  /*Position unterhalb der Hauptbox*/
  position: absolute;
  top: 50%;               /* gleiche Mitte wie .game-area */
  margin-top: 170px;      /* 150px Hälfte von .game-area + 20px Abstand */
  left: 50%;
  transform: translateX(-50%); /*horizontal zentrieren*/
}

/* Textbox Fade-In Effect */
 #textbox {
  opacity: 0;           /* unsichtbar */
  transition: opacity 0.125s; /* sanft einblenden */
}


/* NEXT-Box */
.next-box {
  position: absolute;
  bottom: 10px;
  right: 10px;

  background: white;
  color: black;
  padding: 6px 14px;
  font-size: 14px;

  border: 1px solid black;
  box-shadow: inset 0 0 0 2px black;

  opacity: 0;              /* unsichtbar */
  transition: opacity 0.2s ease; /* sanft einblenden */

  cursor: pointer;
  pointer-events: auto;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20px;
  font-family:  Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;      /* vertikal zentriert */
  justify-content: center;  /* horizontal zentriert */
  z-index: 10000;
}



