.moon {
  width: 20%;
  height: auto;

  position: absolute;
  top: 6%;
  left: 75%;
}

.sun {
  width: 150px;
  height: auto;
  position: absolute;
  top: -65px;
  left: 190px;
}


.sunface {
  width: 25px;
  height: auto;
  position: absolute;
  bottom: 253px;
  left: 247px;
}
