.pet {
  position: absolute; 
  height: auto;
 
}

/* BABY */
.pet.baby {
  width: 30px !important; /* !important erzwingt die Größe zum Testen */
  top: 100%;
  left: 100%;

}



/* CHILD A */
.pet.childA {
  width: 70px;
  left: 150px;
}

/* ADULT A */
.pet.adultA {
  width: 135px;
  left: 155px;
}


/* CHILD B */
.pet.childB {
  width: 110px;
  bottom: 100px;
  left: 160px;
}

/* ADULT B */
.pet.adultB {


  width: 130px;
  bottom: 145px;
  left: 155px;


}

.pet.childC {
  width: 140px;
  left: 135px;
}

.pet.adultC {
  width: 130px;
  bottom: 145px;
  left: 150px;
}

.pet.childD {
  width: 80px;
  left: 150px;
}

.pet.adultD {
  width: 170px;
  left: 155px;
}
