.pwindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: white;
    border: 3px solid black; 
    display:none;
}

.window-line {
    position: absolute;
    top: 75%;
    width: 100%;
    height: 1.5px;
    background-color: black;
    transform: translateY(-50%);
}

.babie {
    position: absolute;
    transform: translate(-50%, -50%);
    
  
    height: auto; 
    object-fit: contain;
    z-index: 25;
}

.balloon {
    position: absolute;
    top: 33%;
    left: 67%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: auto;
}

.babie.baby {
    width: 50px;
    top: 63%;
    left: 35%;
}
 
.babie.adultD {

    width: 90px;
    top: 55%;
    left: 20%;

}

.babie.childC
    {
        top: 53%;
        left: 20%;
        width: 100px; 
    
    }

.babie.adultC {
 
  width: 75px;
    top: 55%;
    left: 20%;


}

.babie.childC {
    top: 53%;
    left: 20%;
    width: 100px; 

}

.babie.childB {
    width: 80px; 
    top: 67%;
    left: 28%;

}

.babie.adultB {
    width: 70px; 
    top:  50%;
    left: 24%;
}

.babie.childA {
    width: 53px; 
    top: 50%;
    left: 24%;
}

.babie.adultA {
    width: 55px; 
    top: 50%;
    left: 23%;
}

#play-score {
    position: absolute;
    top: 15px; /* Direkt unter die Nachricht (5px + ca 20px Abstand) */
    width: 100%;
}

.balloon-text {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 24px;         /* Größe des Pfeils */
    font-weight: bold;       /* Dicke */
    color: black;            /* Farbe */
    font-family: bryndan write;
    /* Wichtig: */
    visibility: hidden;      /* Standardmäßig unsichtbar */
    z-index: 10;             /* Damit der Pfeil ÜBER dem Bild liegt */
} 