.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: white;
    border: 3px solid black; 
}

.window-line {
    position: absolute;
    top: 75%;
    width: 100%;
    height: 1.5px;
    background-color: black;
    transform: translateY(-50%);
}