
/* Wrapper für Titel + Button */
.center-content {
  position: absolute;         /* relativ zum Game-Area Container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* genau zentrieren */
  text-align: center;          /* Titel und Button zentrieren */
}

/* Abstand zwischen Titel und Button */
.title {
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 30px;         /* Abstand zum Button */
}


/* Start-Button */
.start-btn {
    background: black;
    color: white;
    border: 1px solid black;
    padding: 10px 28px; /* vertikales und horizontales Padding */
    font-size: 16px;
    cursor: pointer;
    font-family: "Bryndan Write", Arial, sans-serif;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 3px white; /* weißer Innenrahmen */
}

.start-btn:active {
    background: #222; /* aufgehelltes Schwarz beim Klicken */
}

#textbox {
  opacity: 0;           /* unsichtbar */
  transition: opacity 0.125s; /* sanft einblenden */
}

