/* Basis für alle Pfeile */
.pfeil {
  position: absolute;    /* relativ zum game-area */
}  


.pfeil-text {
  position: absolute;
  font-size: 12px;
  color: black;
  text-align: center; 
  line-height: 0.9;        /* Zeilenabstand */
  word-spacing: 1px;       /* Abstand zwischen Wörtern */
}

/* Hunger Pfeil & Text */
.hunger {
  width: 60px;
  bottom: 87%;
  right: 230px;
  transform: translateY(-50%) rotate(180deg);
}

.texthu  { 
    bottom: 111%; right: 245px; 
    transform: translateY(-50%);
}

/* Energy Pfeil & Text */
.happiness { 
  width: 54px;
  bottom: 84%;
  right: 78px;
  transform: translateY(-50%);
}
.textha  { 
  bottom: 112%;
  right: 40px;
  transform: translateY(-50%);
}


.energy { 
    width: 35px;
    bottom: 87%;
    right: 160px;
    transform: translateY(-50%) rotate(-10deg) ;
}

.texte { 
   
    bottom: 111%;
    right: 130px;
    transform: translateY(-50%);
}


/* Food Pfeil & Text */
.food { 
    width: 30px; 
    top: 235px; 
    right: 100%; 
    transform: translateX(-50%) rotate(250deg); 
}
.texts { 
    top: 250px; 
    right: 100%; 
    transform: translateX(-50%);
    white-space: nowrap; /* Verhindert Zeilenumbruch */
}

/* Game Buttons Pfeil & Text */
.pgame { 
    width: 70px; 
    top: 255px; 
    left: 108%; 
    transform: translateX(-50%) rotate(30deg); 
}
.textg { 
    top: 255px; 
    left: 130%; 
    transform: translateX(-50%);
    white-space: nowrap;
}

/* Sleep Pfeil & Text */
.sleep { 
    width: 65px; 
    bottom: 250px; 
    left: 98%;
    transform: translateY(-50%) ; 
}
.textf { 
    bottom: 285px; 
    left: 110%;
    transform: translateY(-50%) ;
    white-space: nowrap;
}

.stat { 
    width: 50px; 
    top: 54px; 
    left: 100px;  
}

.textst { 
    top: 95px; 
    left: 100px;
    white-space: nowrap;
}

